<ion-view view-title="验证手机号码">
	<ion-content class="padding scroll-bg">
	<form name="fetchcaptcha" ng-submit="supplierFetchCaptcha(fetchcaptcha)" novalidate>
		<div class="list list-insert card card-round">
			<label class="item item-input">
				<input type="text" name="phone" placeholder="注册的手机号码" ng-model='userRegisInfo.phone' required ng-pattern="/^\d{11}$/">
			</label>
			<div class="padding" ng-show="show_error && fetchcaptcha.phone.$error.required">
				<span class="error">电话号码不能为空!</span>
			</div>
			<div class="padding" ng-show="fetchcaptcha.phone.$error.pattern">
				<span class="error">电话号码格式错误!</span>
			</div>

			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input name="code" ng-model='userRegisInfo.code' ng-focus="captcha.code_is_error=false" ng-pattern="/^\d{6}$/" type="text" placeholder="验证码">
				</label>
				<button class="button button-small button-balanced" ng-click="fetchCaptcha()" ng-disabled="captcha.disabled" type="button">{{captcha.text}}</button>
			</div>
			<div class="padding" ng-show="captcha.code_is_error">
				<span class="error">验证码不正确</span>
			</div>
			<div class="padding" ng-show="fetchcaptcha.code.$error.pattern">
				<span class="error">验证码为6位数!</span>
			</div>

			<div class="item">	
				<button class="button button-full button-round button-my-balanced" type="submit">确认</button>
			</div>
		</div>
	</form>
	</ion-content>
</ion-view>