<ion-view view-title="登录">
    <ion-nav-buttons side="right"></ion-nav-buttons>
    <ion-content class="scroll-bg padding">
    <form name="login" ng-submit="supplierLogin(login)" novalidate>        
        <div class="list list-inset card list-round card-round">
        	<!-- <ion-item class="item-input">
				<input type="email" name="name" placeholder="邮箱" ng-model="user.name" ng-keydown="supplier.registe=true" required/>
            </ion-item>
            <div class="padding" ng-show="login.name.$error.email">
                <span class="error">邮箱格式错误！</span>
            </div>
            <div class="padding" ng-show="!supplier.registe">
                <span class="error">此账号还未注册！</span>
            </div> -->

            <ion-item class="item-input">
                <!-- <input type="text" name="name" placeholder="请输入手机号码" ng-model="user.name" ng-keydown="supplier.noRegiste=false" required ng-pattern="/^\d{11}$/"/> -->
                <input type="text" name="name" placeholder="请输入手机号码" ng-model="user.name" required ng-pattern="/^\d{11}$/"/>
            </ion-item>
            <div class="padding" ng-show="login.name.$error.pattern">
                <span class="error">手机号码格式错误！</span>
            </div>
            <div class="padding" ng-show="supplier.show_error && login.name.$error.required">
                <span class="error">请输入手机号码！</span>
            </div>
            <!-- <div class="padding" ng-show="supplier.noRegiste">
                <span class="error">此账号还未注册！</span>
            </div> -->

            <ion-item class="item-input">
                <input name="suPassword" ng-model="user.password" ng-keydown="supplier.validPassword=true" ng-minlength="6" ng-maxlength="20" required placeholder="请输入密码" type="password"/>
            </ion-item>
            <!-- <div class="padding" ng-show="!supplier.validPassword">
                <span class="error" >密码错误</span>
            </div> -->
            <div class="padding" ng-show="login.suPassword.$dirty  && login.suPassword.$error.maxlength">
                <span class="error">密码小于20个字符！</span>
            </div>
            <div class="padding" ng-show="login.suPassword.$dirty  && login.suPassword.$error.minlength">
                <span class="error">密码大于6个字符！</span>
            </div>
            <div class="padding" ng-show="supplier.show_error && login.suPassword.$error.required">
                <span class="error">请输入密码！</span>
            </div>

            <ion-item>
                <button class="button button-full button-balanced button-round" type="submit">登录</button>
                <a class="button button-full button-stable button-round" ui-sref="supplier.register">还没有账号，赶紧来注册吧</a>
            </ion-item>
        </div>
    </form>
    </ion-content>
</ion-view>