<!-- ion side menus is a parent element and hava at lest 2 child elements -->
<ion-side-menus>
	<ion-side-menu side="right">
		<ion-header-bar class="has-tabs-top" align-title="left">
	      <a menu-close><h1 class="title"><img src="img/ionic.png" alt="" width="35">采购宝</h1></a>
	    </ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close ui-sref="supplier.home" ng-controller="LogoutCtrl" ng-click="logout()">退出登录</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
	<ion-side-menu-content drag-content='$root.main.dragContent'>
		<!-- main content usually <ion-nav-view> -->
		<ion-nav-bar class="bar bar-header bar-balanced" align-title="center">
			<ion-nav-back-button  class="button-clear" ng-click="myGoBack()"></ion-nav-back-button>
			<ion-nav-buttons side="right">
				<!-- <button class="button button-icon icon ion-navicon" menu-toggle="right" ng-show="sideMunus"></button> -->
				<button class="button button-icon icon ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view class="supplier" name="main">	
		</ion-nav-view>
	</ion-side-menu-content>
	<!-- left menu -->
	
</ion-side-menus>