<!-- ion side menus is a parent element and hava at lest 2 child elements -->
<ion-side-menus>
	<ion-side-menu side="right">
		<ion-header-bar class="has-tabs-top" align-title="left">
	      <a menu-close href="#/epipe/home"><h1 class="title"><img src="img/ionic.png" alt="" width="35">Flora</h1></a>
	    </ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/home" ng-controller="LogoutCtrl" ng-click="logout()">退出</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
	<ion-side-menu-content>
		<!-- main content usually <ion-nav-view> -->
		<ion-nav-bar class="bar bar-header bar-balanced" align-title="center">
			<ion-nav-back-button  class="button-clear" ng-click="myGoBack()">
				<!-- <i class="ion-arrow-left-c"></i> -->
	        </ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon icon ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
			<!-- <ion-nav-buttons side="right">
				<button class="button button-icon icon ion-funnel" menu-toggle="right"></button>
			</ion-nav-buttons> -->
		</ion-nav-bar>
		<ion-nav-view class="supplier" name="main">	
		</ion-nav-view>
	</ion-side-menu-content>
	<!-- left menu -->
	
</ion-side-menus>