<ion-view view-title="修改个人信息" hide-tabs="true">
	<ion-content class="scroll-bg padding modify-personal-info">
	<form name="modPerInfo" ng-submit="supplierModPerInfo(modPerInfo)" novalidate>
		<div class="list list-insert card card-round">
			<!-- <label class="item item-input">
				<input type="email" placeholder="邮箱" ng-model='supplier.email' name="email" required><i></i>
			</label>
			<div class="padding" ng-show="show_error && modPerInfo.email.$error.required">
				<span class="error">邮箱地址不能为空！</span>
			</div>
			<div class="padding" ng-show="modPerInfo.email.$error.email">
				<span class="error">邮箱格式错误！</span>
			</div> -->

			<!-- <label class="item item-input">
				<input type="text" placeholder="电话" ng-model='supplier.tel' name="tel" required ng-pattern="/^(\d{11})$|^(\(\d{3,4}\)|\d{3,4}-)?\d{7,8}(-\d{1,4})?$/"><i></i>
			</label>
			<div class="padding" ng-show="show_error && modPerInfo.tel.$error.required">
				<span class="error">电话号码不能为空!</span>
			</div>
			<div class="padding" ng-show="modPerInfo.tel.$error.pattern">
				<span class="error">电话号码格式错误!</span>
			</div> -->

			<label class="item item-input item-stacked-label">
				<span class="input-label">公司名称</span>
				<input type="text" placeholder="修改公司名称" ng-model='supplier.company' name="company" required><i></i>
			</label>
			<div class="padding" ng-show="show_error && modPerInfo.company.$error.required">
				<span class="error">公司名称不能为空！</span>
			</div>

			<!-- <div class="item-img clearfix" ng-hide="supplier.userProfile.myCredentials==''">
				<div ng-repeat='img in supplier.userProfile.myCredentials track by $index'><img ng-src="{{img}}" on-hold="onHoldImg($index)"></div>
			</div>
			<div class="item">
				<button class="button button-full button-balanced button-my-balanced  button-round" ng-disabled="!ready" select-img type="button">上传证件</button>
			</div> -->
			
			<div class="item">
				<button class="button button-full button-balanced button-my-balanced button-round" type="submit">保存</button>
			</div>
		</div>
	</form>
	</ion-content>
</ion-view>