<ion-view view-title="修改个人信息" hide-tabs="true">
	<ion-content class="scroll-bg padding modify-personal-info">
		<div class="list list-insert card card-round">
			<label class="item item-input">
				<input type="email" placeholder="邮箱" ng-model='supplier.email'><i></i>
			</label>
			<label class="item item-input">
				<input type="text" placeholder="电话" ng-model='supplier.tel'><i></i>
			</label>
			<label class="item item-input">
				<input type="text" placeholder="公司" ng-model='supplier.company'><i></i>
			</label>
			<div class="item">
				<a class="button button-full button-balanced button-round" href="#/supplier/personal">保存</a>
			</div>
		</div>
	</ion-content>
</ion-view>