<ion-view view-title="采购单">
	<ion-content class="scroll-bg order-list">
		<ion-refresher snipper="ios-small" on-refresh="loadNewOrderList()" pulling-text="下拉更新订单列表...">
		</ion-refresher>		
		<div class="card" ng-show="order.showNoOrderText">
			  <div class="item item-divider">采购单搜索结果</div>
			<div class="item item-text-wrap text-center">
				<p class="padding">暂无匹配的订单！</p>
			</div>			
		</div>
		<div class="card card-round" ng-repeat="o in order.content track by $index">
			<div class="item item-text-wrap order-info">
				<div class="name">{{o.productName}}
					<img src="img/authen.png" alt="" ng-if="o.o.purUer.ifAuditPass">
					<img src="img/no_authen.png" alt="" ng-if="!o.o.purUer.ifAuditPass">
					<small ng-hide="o.purUer.ifAuditPass">未认证</small>
				</div>
				<div class="small amount">数量：{{o.productAmount}}{{o.productUnit}}</div>
				<div class="small date">{{ o.createdOn | date:'yyyy-MM-dd'}}</div>
				<a class="state state-quote" href="#/supplier/quotation?orderId={{o.name}}"  ng-if="o.state=='报价'">
					<i class="icon ion-android-star-outline"></i>
					{{o.state}}
				</a>
				<a class="state" href="#/supplier/orderDetail?orderId={{o.name}}" ng-if="o.state!='报价'">
					{{o.state}}
				</a>
				<a class="logistics-tracking" href="#/supplier/logisticsTracking?orderId={{o.name}}" ng-if="o.state=='已发货'">物流追踪<i class="iconfont icon-truck"></i></a>
			</div>
		</div>
		<ion-infinite-scroll spinner="ios-small" ng-if="order.canBeLoaded" on-infinite="loadMoreOrder()" distance="1%" immediate-check="true">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>