<ion-view view-title="订单详情" hide-tabs="true">
	<ion-content class="scroll-bg order-detail padding">
		<div class="card card-round">
			<div class="item item-divider diamonds-bg">
				<i class="pin"></i>
				订单
			</div>
			<div class="item item-body">
				<div class="clearfix merchant-wrap">
					<div class="iconfont icon-woshou merchant-cooperation "></div>
					<div class="merchant merchant-a">
						<div class="button-icon icon iconfont icon-user text-center"></div>
						<div class="name">{{order.purchaserCompany}}</div>
						<div class="tel">TEL:{{order.purchaserTel}}</div>
					</div>
					<div class="merchant merchant-b">
						<div class="button-icon icon iconfont icon-user text-center"></div>
						<div class="name">{{supplier.company}}</div>
						<div class="tel">TEL:{{supplier.tel}}</div>
					</div>
				</div>
			</div>
			<div class="item item-body">
				<div class="list">
					<div class="control-label info">
						<span class="label">编号：</span>
						<div class="value"><span class="num">{{order.orderNum}}</span></div>
					</div>
					<div class="control-label info">
						<span class="label">商品：</span>
						<div class="value"><span class="name">{{order.productName}}</span></div>
					</div>
					<div class="control-label info">
						<span class="label">单价：</span>
						<div class="value"><span class="price">{{order.unitPrice}}</span>元/吨</div>
					</div>
					<div class="control-label info">
						<span class="label">数量：</span>
						<div class="value"><span class="amount">{{order.productAmount}}吨</span></div>
					</div>
					<div class="control-label info">
						<span class="label">总价：</span>
						<div class="value"><span class="total">{{order.totalPrice}}元</span></div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>