<ion-view view-title="订单详情">
	<ion-content class="scroll-bg order-detail">
		<!-- <i class="iconfont icon-attachment"></i> -->
		<i class="pin"></i>
		<div class="card card-round">
			<div class="item item-divider diamonds-bg">
				订单
			</div>
			<div class="item item-body">
				<div class="clearfix merchant-wrap">
					<div class="iconfont icon-woshou merchant-cooperation "></div>
					<div class="merchant merchant-a">
						<div class="button-icon icon iconfont icon-user text-center"></div>
						<div class="name">{{order.purchaser.userProfile.company}}</div>
						<div class="tel">TEL:{{order.purchaser.phone}}</div>
					</div>
					<div class="merchant merchant-b">
						<div class="button-icon icon iconfont icon-user text-center"></div>
						<div class="name">{{order.supplier.userProfile.company}}</div>
						<div class="tel">TEL:{{order.supplier.phone}}</div>
					</div>
				</div>
			</div>
			<div class="item item-body">
				<div class="list">
					<div class="control-label info">
						<span class="label">编号：</span>
						<div class="value"><span class="num">{{order.name}}</span></div>
					</div>
					<div class="control-label info">
						<span class="label">商品：</span>
						<div class="value"><span class="name">{{order.productName}}</span></div>
					</div>
					<div class="control-label info">
						<span class="label">单价：</span>
						<div class="value"><span class="price">{{order.unitPrice}}</span>元/{{order.productUnit}}</div>
					</div>
					<div class="control-label info">
						<span class="label">数量：</span>
						<div class="value"><span class="amount">{{order.productAmount}}{{order.productUnit}}</span></div>
					</div>
					<div class="control-label info">
						<span class="label">总价：</span>
						<div class="value"><span class="total">{{order.sumPrice}}元</span></div>
					</div>
				</div>
			</div>
			<div class="item" ng-show="showDelivery">
				<button class="button button-block button-round button-my-balanced" ng-click="delivery()">发货</button>
			</div>
		</div>
	</ion-content>
</ion-view>