<ion-view view-title="个人中心">
	<ion-content class="scroll-bg personal-center">
		<div class="top-info">
			<div class="my-portrait top-icon"><i class="ion-ios-person-outline"></i></div>
			<div class="my-email">{{supplier.email}}</div>			
		</div>
		<div class="diamonds-bg bottom-info">
			<div class="list">
				<div class="control-label info">
					<span class="label">公司：</span>
					<div class="value"><span class="num">{{supplier.company}}</span></div>
				</div>
				<div class="control-label info">
					<span class="label">电话：</span>
					<div class="value"><span class="num">{{supplier.tel}}</span></div>
				</div>
				<div class="control-label info">
					<span class="label">邮箱：</span>
					<div class="value"><span class="num">{{supplier.email}}</span></div>
				</div>
				<div class="text-right"><i class="button-icon icon ion-compose" ui-sref="supplier.modifyPerInfo"></i></div>
			</div>			
		</div>
	</ion-content>
</ion-view>