<ion-view view-title="个人中心">
	<ion-content class="scroll-bg personal-center">
		<div class="top-info">
			<div class="my-portrait top-icon"><i class="ion-ios-person-outline"></i></div>
			<!-- <div class="my-email">{{supplier.email}}</div>			 -->
		</div>
		<div class="diamonds-bg bottom-info">
			<div class="list">
				<div class="control-label info">
					<span class="label">公司：</span>
					<div class="value"><span class="num">{{supplierInfo.userProfile.company}}</span></div>
				</div>
				<div class="control-label info">
					<span class="label">电话：</span>
					<div class="value"><span class="num">{{supplierInfo.phone}}</span></div>
				</div>
				<!-- <div class="control-label info">
					<span class="label">邮箱：</span>
					<div class="value"><span class="num">{{supplier.email}}</span></div>
				</div> -->
				<div class="button-icon-group text-right">
					<i class="button-icon icon ion-compose" ui-sref="supplier.modifyProfile"></i>
					<i class="button-icon icon ion-android-unlock" ui-sref="supplier.modifyPassword"></i>
				</div>
			</div>
			<!-- <div class="list">
				<button class="button button-full button-balanced button-my-balanced  button-round" ng-disabled="!ready" select-img type="button">上传证件</button>
			</div>
			<div class="item-img clearfix" ng-hide="credentials.length == 0">
				<div ng-repeat='img in credentials track by $index'>
					<img ng-src="{{img}}">
				</div>
			</div>	 -->	
		</div>
	</ion-content>
</ion-view>