<ion-view view-title="发布商品关键字" >
	<ion-content class="scroll-bg padding release-keywords">
		<div class="top-icon"><i class="ion-ios-cart-outline"></i></div>
		<div class="list list-inset card card-round">
			<div class="item-input-group" id="releaseInputGroup" >
				<label class="item item-input" ng-repeat="keyword in keywords track by $index">
					<input type="text" placeholder="商品关键字(如:PVC)" ng-model='keywords[$index]' index={{$index}}>
				</label>			
			</div>
			<div class="item text-right item-button-plus">
				<a class="button button-icon icon ion-ios-plus-outline button-plus" ng-click="addKeywords()"></a>
			</div>
			<div class="item">
				<a class="button button-full button-balanced button-round" ng-click="releaseKeywords()">发布</a>
			</div>
		</div>
	</ion-content>
</ion-view>