<ion-view view-title="重置密码">
	<ion-nav-buttons class="bar-my-balanced" side="left">
		<button class="button button-icon ion-ios-arrow-back" ui-sref="supplier.login">
			登录
		</button>
	</ion-nav-buttons>
	<ion-content class="padding scroll-bg">
	<form name="resetpassword" ng-submit="supplierResetPassword(resetpassword)" novalidate>
		<div class="list list-insert card card-round">
			<label class="item item-input">
				<input name="password" ng-model='userRegisInfo.password' ng-minlength="6" ng-maxlength="20" required  type="password" placeholder="请输入新密码：6-20个字符"><i></i>
			</label>

			<div class="padding" ng-show="show_error && resetpassword.password.$error.required">
				<span class="error">密码不能为空！</span>
			</div>
			<div class="padding" ng-show="resetpassword.password.$dirty  && resetpassword.password.$error.maxlength">
				<span class="error">密码不能大于20个字符！</span>
			</div>
			<div class="padding" ng-show="resetpassword.password.$dirty  && resetpassword.password.$error.minlength">
				<span class="error">密码不能小于6个字符！</span>
			</div>

			<label class="item item-input">
				<input name="rePassword" ng-model='repassword'  ng-minlength="6" ng-maxlength="20" required repeat="password" type="password" placeholder="重复密码"><i></i>
			</label>			
			<div class="padding" ng-show="resetpassword.rePassword.$dirty  && resetpassword.rePassword.$error.repeat">
				<span class="error">两次密码不一致</span>
			</div>

			<div class="item">
				<button class="button button-full button-my-balanced button-round" type="submit">确认</button>
			</div>
		</div>
	</form>
	</ion-content>
</ion-view>