<ion-tabs class="tabs-balanced tabs-bottom tabs-icon-top hide-tabs" ng-class="{'tabs-item-hide': $root.hideTabs}" ng-controller="tabsCtrl" auto-hide="true">
	<ion-tab title="商品关键字" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" href="#/supplier/release">
		<ion-nav-view name="tabRelease"></ion-nav-view>
	</ion-tab>
	<ion-tab title="商品订单" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/supplier/orderList">
		<ion-nav-view name="tabPO"></ion-nav-view>
	</ion-tab>
	<ion-tab title="个人中心"  icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/supplier/personal">
		<ion-nav-view name="tabPersonalCenter"></ion-nav-view>
	</ion-tab>
</ion-tabs>