/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
.supplier .clearfix:before, .supplier .clearfix:after {
  content: " ";
  display: table;
}
.supplier .clearfix:after {
  clear: both;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Microsoft YaHei",SimHei,Arial,sans-serif;
}

form .error {
  color: red;
}

.hiddentabs > .tab-nav {
  display: none;
}

.scroll-bg {
  background: url("../img/bg.png") no-repeat top center;
  background-size: cover;
}
.scroll-bg .pin {
  position: absolute;
  z-index: 99;
  left: 6px;
  top: -9px;
  display: inline-block;
  width: 50px;
  height: 100px;
  background: url("../img/pin.png") no-repeat;
}
.scroll-bg .pin + .card {
  margin-left: 15px;
  margin-right: 15px;
}

.keyboard-open .tab-nav.tabs {
  display: none;
}

.keyboard-open .hide-tabs .has-tabs {
  bottom: 0;
}

.supplier .item-img > div {
  padding: 10px;
  text-align: center;
}
.supplier .top-icon {
  position: relative;
  height: 76px;
  width: 100%;
}
.supplier .top-icon > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 6rem;
  width: 6rem;
  border-radius: 100px;
  font-size: 5rem;
  text-align: center;
  line-height: 5rem;
  color: #ff7200;
  background-color: #fff;
}
.supplier .card-round {
  border-radius: 10px;
}
.supplier .button-round {
  border-radius: 25px;
}
.supplier .text-right {
  text-align: right;
}
.supplier .text-center {
  text-align: center;
}
.supplier .control-label {
  position: relative;
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.supplier .control-label > .label, .supplier .control-label label {
  position: absolute;
  left: 0;
}
.supplier .control-label > .value {
  padding-left: 3em;
}
.supplier .diamonds-bg {
  background: url("../img/diamonds_bg.jpg") repeat;
}
.supplier .card > .item-divider {
  text-align: center;
  color: #ff7a00;
}
.supplier .home img {
  width: 100%;
  height: 100%;
}
.supplier .home .button-wrap {
  position: absolute;
  bottom: 60px;
  width: 100%;
}
.supplier .release-keywords .item-button-plus {
  padding-top: 0;
  padding-bottom: 0;
}
.supplier .order-info > .name {
  font-size: 1.6rem;
  color: #000;
}
.supplier .order-info > .small {
  font-size: 1.2rem;
  color: #7d7d7d;
}
.supplier .order-list .item {
  padding: 10px;
}
.supplier .order-list .item > .name {
  padding-right: 3em;
}
.supplier .order-list .item > .state {
  position: absolute;
  right: 10px;
  top: 2em;
  font-size: 1.2rem;
  text-decoration: none;
  color: #00a0e8;
}
.supplier .order-list .item > .state.state-quote {
  top: 6px;
}
.supplier .order-list .item > .state.state-quote > i {
  display: block;
  text-align: center;
  font-size: 2.5rem;
  color: #ff7a00;
}
.supplier .order-list .item > .logistics-tracking {
  position: absolute;
  bottom: 10px;
  left: 7.5em;
  font-size: 1.2rem;
  text-decoration: none;
  color: #009b44;
}
.supplier .quotation .order-info-warp {
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(#fbeee5, #f7f7f7);
}
.supplier .quotation .order-info-warp > i {
  position: absolute;
  left: 10px;
}
.supplier .quotation .order-info-warp > .order-info {
  padding-left: 50px;
}
.supplier .quotation .card {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.supplier .quotation .placeholder-unit {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.6rem;
  color: #fe0000;
}
.supplier .quotation .button-round {
  margin-top: 20%;
}
.supplier .order-detail .merchant-wrap {
  position: relative;
}
.supplier .order-detail .merchant-wrap > .merchant-cooperation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  font-size: 38px;
  color: #4ed7bb;
}
.supplier .order-detail .merchant-wrap > .merchant {
  width: 43%;
  font-size: 1.2rem;
}
.supplier .order-detail .merchant-wrap > .merchant.merchant-a {
  float: left;
}
.supplier .order-detail .merchant-wrap > .merchant.merchant-b {
  float: right;
}
.supplier .order-detail .merchant-wrap > .merchant > .icon {
  color: #ff7a00;
}
.supplier .order-detail .merchant-wrap > .merchant > .name {
  line-height: 1.5;
  color: #494949;
}
.supplier .order-detail .merchant-wrap > .merchant > .tel {
  color: #989898;
}
.supplier .order-detail .control-label .name {
  font-size: 1.6rem;
  color: #000;
}
.supplier .order-detail .control-label .total {
  font-size: 1.6rem;
  color: #e70010;
}
.supplier .logistics-track .logistics-info-wrap > .end-state {
  margin-bottom: 16px;
  font-size: 1.6rem;
  color: #019847;
}
.supplier .logistics-track .logistics-info-wrap > .logistics-info > .track-item {
  padding-bottom: 16px;
  padding-left: 16px;
  border-left: 1px solid #c9c9c9;
}
.supplier .logistics-track .logistics-info-wrap > .logistics-info > .track-item:last-child {
  margin-left: 1px;
  border-left-width: 0;
}
.supplier .logistics-track .logistics-info-wrap > .logistics-info > .track-item > i {
  position: absolute;
  margin-left: -23px;
  background-color: #fff;
}
.supplier .logistics-track .logistics-info-wrap > .logistics-info > .track-item > i.active {
  width: 13px;
  height: 13px;
  border-radius: 20px;
  line-height: 1;
  overflow: hidden;
  color: #f00;
  background-color: #f00;
}
.supplier .logistics-track .logistics-info-wrap > .logistics-info > .track-item > .schedule {
  font-size: 1.2rem;
  color: #666;
}
.supplier .logistics-track .logistics-info-wrap > .logistics-info > .track-item > .state {
  font-size: 1.4rem;
  color: #313131;
}
.supplier .personal-center .scroll {
  height: 100%;
}
.supplier .personal-center .top-info {
  position: absolute;
  top: 0;
  height: 40%;
  width: 100%;
}
.supplier .personal-center .top-info > .my-portrait {
  height: 100%;
}
.supplier .personal-center .top-info > .my-portrait > i {
  transform: translate(-50%, -65%);
}
.supplier .personal-center .top-info > .my-email {
  position: absolute;
  bottom: 1.8rem;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
}
.supplier .personal-center .bottom-info {
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;
  color: #313131;
  line-height: 2;
}
.supplier .personal-center .bottom-info > .list {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 1rem;
}
.supplier .personal-center .bottom-info > .list > .info {
  font-size: 1.8rem;
  word-break: break-word;
}
